<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Santory By Reynaldo</title>
    </head>
    <body>

        <section th:fragment="sobre">

            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-danger bg-opacity-10">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="display-5 fw-bold text-body-emphasis">Santory By Reynaldo</h1>
                    <p class="lead fw-normal mt-3">Santory By Reynaldo es una marca costarricense con sus
                        inicios en el año 2004 como un proyecto de emprendimiento
                        dedicado al diseño y confección de calzado femenino. En sus
                        años activo se ha destacado por su enfoque en la creación de
                        productos de calidad, tanto elegantes como cómodos. Inspirado
                        por las ganas de salir adelante y de volver realidad su visión en
                        el mundo del calzado, Reynaldo comenzó con determinación su
                        emprendimiento.

                        Con los años, la marca se ha instalado en el mercado
                        nacional, con dos tiendas físicas y servicio de venta en redes
                        sociales (WhatsApp, Facebook, Instagram), donde se ofrecen
                        muchos estilos.

                        El público que ha alcanzado Santory By Reynaldo tiene un
                        amplio rango de edad (18 – 65 años). Esta marca nacional se
                        distingue por ofrecer diseños de calzado personalizados para
                        darle la oportunidad a los clientes de crear una pieza única con
                        sus gustos. Además de ofrecer su catálogo regular, con distintos
                        estilos y colecciones nuevas.</p>
                </div>
            </div>
        </section>
        
            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <h2 class="text-body-emphasis fw-bold text-center">Testimonios</h2>
                        <p class="lh-lg">"En Santory encontré el par de zapatos perfecto para mis clases. ¡Cómodos y a buen precio!"</p>
                        <p class="lh-lg">"Con la rutina diaria, necesitaba zapatos resistentes. En Santory hallé justo lo que buscaba, ¡y el personal fue muy amable!"</p>
                        <p class="lh-lg">"Los zapatos que conseguí en Santory son geniales para mis entrenamientos. ¡Buena calidad y a un precio justo!Ademas pude personalizarlos por completo"</p>
                    </div>
                </div>
            </div>

            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <h2 class="text-body-emphasis fw-bold text-center">Nuestras Redes</h2>
                        <p class="lh-lg">Santory by Reynaldo </p>
                        <p class="lh-lg">santorybyreynaldo</p>
                        <div class="row g-2">
                            <div class="col-6 text-center">
                                <a href="https://www.facebook.com/SantoryByReynaldo/" class="fs-5 fw-bold text-decoration-none link-secondary"><i class="fa-brands fa-square-facebook"></i></i> Santory by Reynaldo</a>
                            </div>
                            <div class="col-6 text-center">
                                <a href="https://www.instagram.com/santorybyreynaldo?igsh=MWNmandtbjFlZzVoMw==" class="fs-5 fw-bold text-decoration-none link-secondary"><i class="fa-brands fa-instagram"></i> santorybyreynaldo</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <h2 class="text-body-emphasis fw-bold text-center">Ubicaciones:</h2>
                        <h4><small class="text-body-secondary text-center">Heredia:</small></h4>
                        <div class="embed-responsive embed-responsive-4by3 mx-auto">       
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.305394250721!2d-84.13748942494665!3d9.991612573178934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fbd4857a55a3%3A0x16783344a527aca5!2sSantory%20by%20Reynaldo!5e0!3m2!1ses!2scr!4v1713844379951!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <figcaption>Plaza San Francisco, Heredia, Santa Cecilia</figcaption>
                        </div>
                        <h5><small class="text-body-secondary text-center">San José</small></h5>
                        <div class="embed-responsive embed-responsive-4by3 mx-auto">       
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.260489655467!2d-84.10151322494727!3d9.91224967453845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e356a7159597%3A0xed3a840794b33884!2sSantory%20by%20Reynaldo!5e0!3m2!1ses!2scr!4v1713844476110!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <figcaption>Centro Comercial Plaza América, San José, Hatillo Centro</figcaption>
                        </div>

                    </div>
                </div>
            </div>

    </body>
</html>
