<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace= "~{layout/plantilla :: head}">        
        <title>Santory</title>
    </head>
    <body>

        <header th:replace= "~{layout/plantilla :: header}"/>
        <div id="carouselExampleControls" class="carousel slide mb-0" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://i.pinimg.com/736x/46/5f/ff/465fff70e135008cdd856b3d9e135e25.jpg" class="d-block w-100" alt="Zapatillas de charol azul">
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/736x/24/63/db/2463db99b864e0e7daea24c7ee4ad24a.jpg" class="d-block w-100" alt="Hermosas y delicado zapatilla casual">
                </div>

            <!-- Botones de control del carrusel -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
            

        <footer th:replace= "~{layout/plantilla :: footer}"/>
    </body> 
</html>