<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace= "~{layout/plantilla :: head}">        
        <title>Santory</title>
    </head>
    <body>

        <header th:replace= "~{layout/plantilla :: header}"/>
        <div id="carouselExampleControls" class="carousel slide mb-0" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://ufidelitas-my.sharepoint.com/:i:/r/personal/rpatino30701_ufide_ac_cr/Documents/car.1.jpg?csf=1&web=1&e=LrlhcD" class="d-block w-100" alt="Zapatillas de charol azul">
                </div>
                <div class="carousel-item">
                    <img src="https://ufidelitas-my.sharepoint.com/:i:/r/personal/rpatino30701_ufide_ac_cr/Documents/car.2.jpg?csf=1&web=1&e=hclQQ7" class="d-block w-100" alt="Hermosas y delicado zapatilla casual">
                </div>
                <div class="carousel-item">
                    <img src="https://ufidelitas-my.sharepoint.com/:i:/r/personal/rpatino30701_ufide_ac_cr/Documents/car.3.jpg?csf=1&web=1&e=yOfdFr" class="d-block w-100" alt="Hermosos botines femeninos">
                </div>
            </div>

            <!-- Botones de control del carrusel -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <footer th:replace= "~{layout/plantilla :: footer}"/>
    </body> 
</html>