<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Santory</title>
    </head>
    <body>
        <section th:fragment="listadonuevaColeccion" id="nuevaColeccion">
            <div class="container">
                <div class="row row-cols-2" >
                    <h2 class="inline"> Nuestra Nueva Coleccion </h2>
                    <div id="resultsBlock"></div></div>
                <div class="row row-cols-3" 
                     th:if="${nuevaColeccion != null and !nuevaColeccion.empty}">
                    <div class="card" th:each="nuevaColeccion : ${nuevacolecciones}">
                        <div class="card-body">
                            <h5 class="card-title"> Descripción </h5>
                            <figure>
                                <img th:src="@{${nuevaColeccion.rutaImagen}}" height="200"/>
                                <figcaption>[[${nuevaColeccion.precio}+' ('+${nuevaColeccion.existencias}+')']]
                                </figcaption>
                            </figure>
                            <form>
                                <input type="hidden" name="texto" th:value="${nuevaColeccion.id_nuevacoleccion}"/>
                                <input type="hidden" name="texto" th:value="${nuevaColeccion.existencias}"/>
                                <button class="btn btn-ligth" id="addCar" 
                                        name="addCar" onclick="addCard(this.form)" 
                                        type="button"><i class="fas fa-cart-plus"></i></button>
                            </form>
                            <p class="card-text">[[${nuevaColeccion.descripcion}]]</p>                            
                        </div>
                    </div>
                </div>
                <div th:if="${nuevaColeccion == null or nuevaColeccion.empty}">
                    Carrito vacío</div>
            </div>
        </section>

        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">            
            <form action="/carrito/listado">
                <button
                    type="submit"
                    class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i>
                    ver Carrito [[${listaTotal}]]
                </button>
            </form>
        </div>     

        <section th:fragment="listadoCarrito" id="items">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Carrito</h4>
                            </div>
                            <div th:if="${items != null and !items.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{nuevaColeccion.descripcion}]]</th>
                                            <th>[[#{nuevaColeccion.precio}]]</th>
                                            <th>[[#{carrito.cantidad}]]</th>
                                            <th>[[#{carrito.total}]]</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${item.descripcion}]]</td>
                                            <td class="text-end">[[${item.precio}]]</td>
                                            <td class="text-center">[[${item.cantidad}]]</td>
                                            <td class="text-center">[[${item.cantidad*item.precio}]]</td>
                                            <td>
                                                <a th:href="@{/carrito/eliminar/}+${item.id_nuevacoleccion}"
                                                   class="btn btn-danger">
                                                    <i class='fas fa-trash'></i> Eliminar
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/carrito/modificar/}+${item.id_nuevacoleccion}"
                                                   class="btn btn-success">
                                                    <i class='fas fa-pencil'></i> Actualizar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${items== null or items.empty}">
                                Carrito Vacio
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center text-white mb-3"style="background-color: #1B3059">
                            <div class="card-body">
                                <h3>Total de Compra</h3>
                                <h4 class="fs-4">
                                    Total
                                </h4>
                            </div>
                        </div>
                        <div class="card text-center  text-white mb-3"style="background-color: #F29BA2; border-color: #F29BA2;">
                            <div class="card-body">
                                <a th:href="@{/}"
                                   class="btn btn-success"style="background-color: #F29BA2; border-color: #F29BA2;">
                                    <i class='fas fa-reply'></i> Seguir Comprando
                                </a>
                            </div>
                        </div>
                        <div class="card text-center  text-white mb-3"style="background-color: #F29BA2; border-color: #F29BA2;">
                            <div class="card-body">
                                <a th:href="@{/facturar/carrito}"
                                   class="btn btn-info text-white"style="background-color: #F29BA2; border-color: #F29BA2;">
                                    <i class='fas fa-fordward'></i> Facturar
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>